<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="my-3">Edit List</h1> 
      <form action="/lists/edit/{{list.id}}" method="post">
        <div class="form-group">
          <label class="font-weight-bold" for="listName">List name:</label>
          <input type="text" class="form-control" name="listName" value="{{list.listName}}">
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="listDescription">Description:</label>
          <textarea class="form-control" name="listDescription" rows="3">{{list.listDescription}}</textarea>
        </div>
        {{#if list.listImage}}
        <div class="card-columns">
          <div class="card shadow mb-3">
            <img class="card-img-top" src="{{list.listImage}}">
            <div class="card-body">
              <a href="/lists/listimage/{{list.id}}" class="btn btn-secondary btn-sm px-5">Change image</a>
            </div>
          </div>
          <div></div>
        </div>
        {{/if}}
        <button class="btn btn-primary myWidth-300" type="submit">Save</button>
        <a class="btn btn-link px-5" href="/lists/mylists">Go back</a>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>