<div class="container">
  <div class="row mt-3 mb-5">
    <div class="col-md-6">
      <h1>{{values.0.listName}}</h1> 
    </div>
    <div class="col-md-6 text-right">
      <a class="btn btn-success px-5" href="/items/newitem/{{values.0.id}}" role="button">+ Add New Item</a>
    </div>
  </div>

  {{#unless values.[1]}}
    <div class="row my-3">
      <div class="col">
        <p class="text-secondary">You don't have any items yet...</p> 
      </div>
    </div>
  {{/unless}}

  {{#each values.[1]}}
  <div class="row mt-3">
    <div class="col-10">
      <h3>{{itemName}}</h3>
      <div class="d-flex flex-row">
        <div>{{#if itemImage}}<img class="myItemImage rounded img-fluid mr-3 mb-3" src="{{itemImage}}">{{/if}}</div>
        <div>{{#if itemNotes}}<p>{{itemNotes}}</p>{{/if}}</div>
      </div>
      {{#if itemUrl}}<p class="text-truncate" style="max-width: 500px"><a href="{{itemUrl}}" target="_blank">{{itemUrl}}</a></p>{{/if}}
    </div>
    <div class="col-2 text-center">
      <a class="btn btn-secondary btn-sm mr-3 mt-1" href="/items/listview/{{listId}}/edit/{{id}}" role="button"><i class="fas fa-edit"></i></a>
      {{!-- <a class="btn btn-secondary btn-sm" href="/lists/delete/{{id}}" role="button"><i class="fas fa-trash-alt"></i></a> --}}
                
      {{!-- START: Modal popover for delete list confirmation --}}
      {{!-- Button trigger modal --}}
      <button type="button" class="btn btn-danger btn-sm mt-1" data-toggle="modal" data-target="#exampleModal{{id}}">
        <i class="fas fa-trash-alt"></i>
      </button>

                {{!-- Delete list Modal popup confirmation --}}
                <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{id}}" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel{{id}}">Delete item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-left">
                        Are you sure you want to delete this item?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, keep</button>
                        <a href="/items/listview/{{listId}}/delete/{{id}}" class="btn btn-danger">Yes, delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                {{!-- END: Modal popover for delete list confirmation --}}
    </div>
  </div>
  <hr>
  {{/each}}

</div>